  
    <script>

      // Size and margins
      const width = 600;
      const height = 250;
      const margin = { top: 10, right: 10, bottom: 10, left: 10 };
      const innerWidth = width - margin.left - margin.right;
      const innerHeight = height - margin.top - margin.bottom;
    
    
        import {scaleLinear} from "d3-scale";
        import {onMount} from "svelte";
        import {json} from "d3-fetch";
        
        const clock = 2;
      let data = [];
      onMount(async () => {
        data = await json("/data/daily_heating_cooling.json");
        });
      
      let datafile = {};
      
      $: scale = scaleLinear()
                  .domain([0,Math.max(...data.map((d) => d.heating))])
                  .range([0, 80]);
      $: {data.forEach((d) => {
        if ( !(d.city in datafile)){
          datafile[d.city] = { "Maximum":0, "cooling":[],"heating":[]};
          }
          datafile[d.city]["cooling"].push(d.cooling);
          datafile[d.city]["heating"].push(d.heating);
        })
        for (let d in datafile) {
          datafile[d].Maximum = Math.max (Math.max(...datafile[d].heating, Math.max(...datafile[d].cooling)));
          };
        };
      
      let path_0 = (d, x, y, r) => {
        let path = "M";
        let Angle = 0;
        scale = scaleLinear()
                .domain([0,r])
                .range([0,65]);
        d.forEach((figure, idx) => {
          Angle = idx / 365*2 * Math.PI;
          path += " " + (x+scale(figure)*Math.sin(Angle)) + "," + (y-scale(figure)*Math.cos(Angle));
        });
        return path +"Z";
      }
      </script>
      
      {#if !datafile}
        <p>
          Data is loading...
        </p>
      {:else}
      <svg {width} {height}>
        <g transform="translate({margin.left}, {margin.top})">
          {#each Object.keys(datafile) as city,idx}
          <g transform = "translate({idx*(40+2*clock+2*80)}, {clock})">
            <text transform = "translate({clock+76},{innerHeight/2-80-5})">
              0
            </text>
            <text transform = "translate({clock+2*80}, {innerHeight/2+6})">
              3
            </text>
            <text transform = "translate({clock+75}, {innerHeight/2+80+15})">
              6
            </text>
            <text transform = "translate({clock-15}, {innerHeight/2+6})" text>
              9
            </text>
            <circle cx={clock+ 80} cy={innerHeight/2} r={80} stroke="black"  fill="white" />          
            <path class = cool d={path_0(datafile[city]["cooling"], clock+ 80, innerHeight/2,datafile[city]["Maximum"])} stroke = "blue"/>
            <path class = hot d={path_0(datafile[city]["heating"], clock+ 80, innerHeight/2, datafile[city]["Maximum"])} stroke = "red"/>
            <line x1 = {clock} y1 = {innerHeight/2} x2 = {clock+2*80} y2 = {innerHeight/2} stroke = "black"></line>
            <line x1 = {clock+80} y1 = {innerHeight/2-80} x2 = {clock+80} y2 = {innerHeight/2+80} stroke = "black"></line>
          </g>
          {/each}
          <text x = {innerWidth/10+innerWidth/3} y = {innerHeight/10-10}>
            Chicago
          </text>
          <text x = {innerWidth/10} y = {innerHeight/10-10}>
            Baltimore
          </text>
          <text x = {innerWidth/9+2*innerWidth/3-9} y = {innerHeight/10-10}>
          Los Angeles
          </text>
      
        </g>
      </svg>
      {/if}
      
      <style>
        svg {
          border: 2px solid black;
          border-radius: 5px;
        }
        Path.hot {
          fill: red;
          fill-opacity: 0.7;
        }
        path.cool {
           fill: blue;
           fill-opacity: 0.7;
        }
      </style>