    <script>
        function circunference(radious) {
        return 2*Math.PI* radious;
      }
              
          </script>
      
          <p> The circumference of a circle with radius 6 is {circunference(6).toFixed(2)} </p>