<script>
  // Properties
  export let data = [];
  export let all_continents = "all";
  export let current_year = 0;
  

  const continents = ["europe", "asia", "americas", "africa"];
  const myTimer = (_) => {
    if (current_year==214) {
      current_year=0;
    } else {
      current_year+=1;
    }
  }
  let clicked = false;
  let t;
  const repeat = () => {
    t = setInterval(myTimer, 100);
    clicked = true;
  }
  const stop = () => {
    clearInterval(t);
    clicked = false;
  }
  const reset = () => {
    clearInterval(t);
    clicked = false;
    current_year=0;
  }
</script>

<div class="row">
  <div>
    {#if clicked == false}
      <button class="btn btn-primary" on:click="{() => repeat()}">Start</button>
    {:else}
      <button class="btn btn-primary" on:click="{() => stop()}">Stop</button>
    {/if}
    <button class="btn btn-secondary" on:click="{() => reset()}">Reset</button>
  </div>
  <div>
    <label for="slider">Year: {1800+current_year}</label>
    <input type="range" class="form-range" min="0" max="214" bind:value={current_year} id="slider" name="slider">
    <select name="cont" id="cont" class="btn btn-primary" data-toggle="dropdown" bind:value={all_continents}>
      <option value="all">All </option>
      <option value="europe">Europe</option>
      <option value="asia">Asia</option>
      <option value="americas">Americas</option>
      <option value="africa">Africa</option>
    </select>
  </div>
</div>

