<script>
   let count=0

    function Click(event){
        count+=1;
    }

    function Reset(event){
        count=0;
    }
</script>


    <button class="btn btn-primary" on:click={Click}>
        {#if count==1}
        Clicked {count} time
        {:else}
        Clicked {count} times
        {/if}

    </button>

    <button type="button" class="btn btn-info"  

    on:click={Reset}
    >Reset</button>
 


