<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let alldata = [];
  onMount(async () => {
      alldata = await json('/data/gapminder.json');
  });
 

  const selectdata = (dataset, selindex) => {
    return dataset[selindex].countries; 
  };
  const filterdata = (dataset) => {
    return dataset.filter(datapoint => datapoint.income != null && datapoint.life_exp != null);
  };
  const filtercont = (dataset, selcont) => {
    return dataset.filter(datapoint => datapoint.continent == selcont);
  }


let year = 0;
let continent = "all";
</script>


{#if alldata.length == 0}
  <p>Loading the data, please wait...</p>
  {:else}
  <div>
    {#if continent=="all"}
      <Scatterplot data={filterdata(selectdata(alldata, year))} />
    {:else}
      <Scatterplot data={filtercont(filterdata(selectdata(alldata, year)), continent)} />
    {/if} 
    <div>
      <Controls data={alldata} bind:current_year={year} bind:all_continents={continent} />
    </div>
  </div>
{/if}

