<script>
  import {scaleLinear} from "d3-scale";
  import {scaleOrdinal} from "d3-scale";
  import {scaleLog} from 'd3-scale';
  import {extent} from 'd3-array';
  import {select} from 'd3-selection';
  import {scaleSqrt} from 'd3-scale';
  import {schemeSet2}from 'd3-scale-chromatic';
  import {axisLeft} from 'd3-axis';
  import{axisBottom} from 'd3-axis';
  

    const [height, width] = [500, 900];
  const margin = {top: 55, right: 15, bottom: 65, left: 70};
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data;

  const classcolour = extent(data, (d) => d.continent);
  const scaleX=scaleLog().domain([300,100000]).range([0,innerWidth]);
  const scaleY=scaleLinear().domain([0,80]).range([innerHeight,0]);
  const scaleColor=scaleOrdinal().range(schemeSet2).domain(classcolour);
  const radius=scaleSqrt().domain([0,5e8]).range([5,9]);
  const ticks=[400,4000,40000];
  
  let g;
  $:{
    let yaxis=axisLeft(scaleY);
    select(g).call(yaxis);
  }
  let g2;
  $:{
    let xaxis=axisBottom(scaleX).tickValues(ticks);
    select(g2).call(xaxis);
  }
</script>

<svg viewBox="0 0 {width} {height}" style="mid-width: {width}px">
  <text  x=0 y=0 transform=" translate(30,250) rotate(270)" style="font-size:1.5em;">Life Expectancy </text>
  <g transform="translate({margin.left}, {margin.top})">
   
    {#each data as value}
    {#if value.income !== null && value.life_exp !== null && value.population !== null}
    <circle r={radius(value.population)}  cy={scaleY(value.life_exp)} cx={scaleX(value.income)} style="fill: {scaleColor(value.continent)};"/>
      {/if}
      {/each}
      <text x={innerWidth/2-margin.left} y={height-1*margin.top} style="font-size:1.5em;">GDP per Capita </text>
      <text x={innerWidth/2-2.5*margin.left}  y=0 style="font-size:3.5em;"> Gapminder Scatterplot </text>
      <text x={innerWidth-40}, y={innerHeight-10} style="font-size:1em">1800</text>
      {#each ticks as tick}
      <text  x={scaleX(+tick)-10}  y={height-1.8*margin.top}  style="font-size:1em;">${tick} </text>
      {/each}
  </g>
  <g transform="translate({margin.left},{margin.top})" bind:this={g}>
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" bind:this={g2}>
  </g>
</svg>