<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 35, left: 25 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import {scaleLog} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
import { select_multiple_value } from 'svelte/internal';

  // Array
  const values = [2, 4, 6, 7, 9];

  const scale=scaleLog().
  domain([1,10])
  .range([25,800]);

  function printxAxis(element){
    const xAxis=axisBottom(scale);
    xAxis(select(element));
  };

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scale(value)} cy="45%" r=10 fill="steelblue"/>
  {/each}
  <g use:printxAxis transform="translate(0,{innerHeight})">
  <text fill=black>x-label</text>
</g>
  </g>
</svg>

